/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #1e2a38, #0a1a2f);
  color: #ffffff;
  line-height: 1.6;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items from the top */
  height: auto;
  min-height: 100vh;
  text-align: center;
  flex-direction: column;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  padding: 0 20px; /* Padding on the sides */
}

/* Header Section */
header {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

/* Logo Styles */
.logo {
  width: 350px; /* Increased size for more prominence */
  height: 350px;
  margin-bottom: 40px;
  animation: float 3s infinite ease-in-out;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  filter: brightness(1.5); /* Makes the logo brighter */
  box-shadow: 0px 0px 80px rgba(255, 140, 0, 0.7); /* Glowing shadow effect */
}

.logo:hover {
  transform: scale(1.15); /* Slightly increase size on hover */
}

/* Header Text */
h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  letter-spacing: 1px;
  color: #ff8c00;
}

p {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 30px;
  color: #ffffff;
}

/* Call to Action (Button) */
.cta-button {
  padding: 20px 50px;
  background: #ff4500;
  color: #fff;
  font-weight: bold;
  border-radius: 40px;
  text-decoration: none;
  font-size: 1.2r
